*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

/* animation */
.top-nav a,.left-nav a,
.main_navigation_render a
{
  position: relative;
  text-decoration: none;
  text-align: right;
}
.top-nav a::after,.left-nav a::after,
.main_navigation_render a::after{
 content: '';
 display: block;
 width: 0;
 height: 2px;
 position: absolute;
 left: 0;
 border-radius: 5px;
 /* bottom: -18px; */
 background:rgba(0,0,0);
 transition:all 0.3s ease-in-out;
 -webkit-transition: all 0.3s ease-in-out;
 -moz-transition: all 0.3s ease-in-out;
 -ms-transition: all 0.3s ease-in-out;
}
.top-nav a:hover::after, .left-nav a:hover::after,
.main_navigation_render a:hover::after{
 width: 100%;
}




/* body order */
.body{
  display: flex;
  flex-direction: column;
  background-color: #f4efe6;
}


/* top */
.top{
  display: flex;
  flex-direction: row;
  padding-top: 3vh;
  align-items: baseline;
}
.top-logo a{
  text-decoration: none;
  font-family: 'Bowlby One SC', cursive;
  color: rgba(50, 50, 50, 0.3);
  font-size: 35px;
  padding-left: 5vw;
}
.top-logo a:hover{
color: black;
}
.top_logo a:visited{
  color: rgba(50, 50, 50, 0.3);
}
.top-nav{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding-left: 5vw;
  width: 60%;
  text-align: center;
}
.top-nav a{
  margin-left: 1vw;
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
}
.top-nav a:hover{
  color:black;
}

/* meterial */
.meterial{
  display: flex;
  flex-direction: row;
}
.meterial-nav{
  flex:1;
  order:1;
}
.meterial-render{
  flex:3;
  order:2;
}


/*meterial-nav*/
.meterial-nav a{
  text-decoration: none;
}
.left-nav{
  font-family: 'Open Sans', sans-serif;
  padding-left:15vw;
  padding-top: 10vh;

}

.left-nav h2{
  font-weight: 400;
  font-size: 15px;
  color: rgba(50, 50, 50, 0.8);
}

.left-nav .left-nav-interactive_elements h4{
  font-weight: 300;
  font-size: 10px;
  color:gray;
}
.left-nav .left-nav-text_elements h4{
  font-weight: 300;
  font-size: 10px;
  color:gray;
}
.left-nav .left-nav-combined_elementse h4{
  font-weight: 300;
  font-size: 10px;
  color:gray;
}
.left-nav .left-nav-citation h4{
  font-weight: 300;
  font-size: 10px;
  color:lightgray;
}
.left-nav .left-nav-branding_ideas h4{
  font-weight: 300;
  font-size: 10px;
  color:gray;
}


.left-nav .left-nav-interactive_elements h4 a:visited{
   color:gray;
}
.left-nav .left-nav-text_elements h4 a:visited{
   color:gray;
}
.left-nav .left-nav-combined_elementse h4 a:visited{
   color:gray;
}
.left-nav .left-nav-citation h4 a:visited{
   color:gray;
}
.left-nav .left-nav-branding_ideas h4 a:visited{
   color:gray;
}
.left-nav-interactive_elements,.left-nav-text_elements,
.left-nav-combined_elementse,
.left-nav-citation,.left-nav-branding_ideas{
padding-bottom: 0.5em;
}


/*meterial-render*/
.example_code{
  width:45vw;
}
.meterial-render{
  font-family: 'Lato', sans-serif;
  padding-left: 5vw;
  padding-top:8.5vh;
  padding-bottom: 10em;
}
.meterial-render h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.meterial-render h2{
  font-weight: 700;
  font-size: 50px;
  border-bottom: 1px solid black;
  width:50vw;

}
.meterial-render a{
  text-decoration: none;
}

.main_navigation_render a{
  text-decoration: none;
}

.in_text_link,.navigation_link,
.image_as_a_link,.video_show,
.heading,.paragraphs,
.main_navigation,.work_listing,
.citation,.art_direction,
.introduction{
  padding-bottom: 15vh;
}

.in_text_link_render,.navigation_link_render,
.image_as_a_link_render,.video_show_render,
.heading_render,.paragraphs_render,
.main_navigation_render,.work_listing_render,
.citation_render,.art_direction_render,
.introduction_render{
  padding-top: 2vh;
}

.in_text_link_render a{
  font-style: italic;
  color: rgba(129, 176, 252,1);
}
.in_text_link_render a:hover{
  font-style:normal;
  color: rgba(88, 122, 176,1);

}
.navigation_link_render{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation_link_render h4{
  background-color: gray;
  opacity: 0.9;
  padding:.8em 1em .8em 1em;
  border-radius: 1.2em;
}
.navigation_link_render h4:hover{
  background-color: lightgray;
}
.navigation_link_render a{
  font-weight: 600;
  color:white;
}

.navigation_link_render img{
  margin-left: 6em;
  opacity: 0.6;
  height:auto;
  width:45px;
}
.navigation_link_render img:hover{
  opacity:0.3;
}
.image_as_a_link_render{
  display: flex;
  justify-content: space-between;
  width:50vw;
  align-items:flex-end;
}
.image_as_a_link_render_text{
  padding-right: 3vw;
}
.image_as_a_link_render h3{
  font-size:50px;
  font-weight: 500;
}
.image_as_a_link_render h4{
  color:gray;
  font-size:15px;
  font-weight: 400;
  line-height:2em;
  padding-bottom: .5em;
}
.image_as_a_link_render h5{
  font-size:50px;
  font-weight: 500;
  padding-left: 8vw;
}
.image_as_a_link_render h6{
  padding-top: 2em;
  font-size:10px;
  font-weight: 400;
  text-align: right;
  padding-left: 15vw;
  line-height:1.5em;
  color:lightgray;
}
.image_as_a_link_render img{
  height:auto;
  width:200px;
}
.image_as_a_link_render img:hover{
  opacity: 0.8;
}

.video_show_render{
  display: flex;
  align-items:flex-end;
  text-align: right;
  width:50vw;
  justify-content:space-between;
}
.video_show_render_text h4{
  color:gray;
  font-size:15px;
  font-weight: 400;
  line-height:1.5em;
}
.video_show_render_text h3{
  text-align: left;
  font-size:40px;
  font-weight: 600;
  padding-top: .5em;
  padding-bottom: .5em;

}
.video_show_render_text h6{
  font-size:10px;
  font-weight: 400;
  text-align: right;
  line-height:1.5em;
  color:lightgray;
}

.video_show_render video{
  height:auto;
  width:50vw;;
  padding-right: 1em;
}
.video_show_render video:focus{
  outline:none;
}

.heading_render h2{
  border: 0em;
}
.heading_render h4{
  font-size:30px;
  font-weight: 600;
}
.heading_render h5{
  font-family: 'Open Sans', sans-serif;
  color:gray;
  font-size:15px;
  font-weight: 400;
}
.heading_render h6{
  font-family: 'Open Sans', sans-serif;
  font-size:10px;
  font-weight: 400;
  color:lightgray;
  padding-top: 2em;
}

.paragraphs_render{
  width:35vw;
  color:gray;
  line-height:1.5em;
}


.main_navigation{
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 300;
}
.main_navigation_render{
  margin-top:5vh;
  margin-left: 15vw;
}
.main_navigation_render a{
  margin-left: 1vw;
  color: rgba(0, 0, 0, 0.5);
}
.main_navigation_render a:hover{
  color:black;
}


.work_listing_render{

}
.work_listing_render img {
  height: auto;
  width:50vw;
  padding-bottom: 3em;
}
.work_listing_render_1,.work_listing_render_2{
  padding-bottom: 5em;
}
.work_listing_render_1_title h2,.work_listing_render_2_title h2{
  text-align: right;
  border:0em;
  font-size: 35px;
  line-height:1.5em;

}
.work_listing_render_2_title h2{
  padding-top: 1em;
  border-top: .01em solid black;
}

.work_listing_render_1_title h2>a{
  /* padding-right:3em; */
}
.work_listing_render_1_title h4,.work_listing_render_2_title h4{
  font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color:gray;
    padding-bottom: 1em;
}
.work_listing_render_1_text,.work_listing_render_2_text{
  display: flex;
  flex-direction:  column;
  justify-content: space-between;
  width:50vw;
}
.work_listing_render_1_text h4,.work_listing_render_2_text h4{
width:30vw;
font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color:gray;
}
.work_listing_render_1_text h3,.work_listing_render_2_text h3{
font-family: 'Lato', sans-serif;
text-align: right;
font-size: 20px;
font-weight: 300;
line-height: 1em;
color:lightgray;
}
.work_listing_render_1_text h3>a,.work_listing_render_2_text h3>a{
  font-size: 100px;
  font-weight: 400;


}


.introduction_render{
  width:35vw;
  font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color:gray;
    padding-top: 2em;

}

/*footer*/
.footer{
  border-top: 0.05em solid rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  /* width: 30vw; */
}
.footer-nav{
  display: flex;
  flex-direction:row;
    justify-content:flex-end;
    padding-left: 2vw;
}
.footer-nav-left h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 300;
  color:black;
  padding: 1em 2em 1em 2em;

}
.footer-nav-right{
  color:white;
}

@media screen and (max-width:991px){
  .top-nav{
    text-align: left;
  }

}

/* homapage */
